<div class="login-status-header">
  
  <!-- ❌ Ak NIE JE prihlásený -->
  @if (!isAuthenticated) {
    <div class="login-status">
      <button class="security-btn" (click)="login()">
        <i class="fas fa-sign-in-alt"></i> Login
      </button>
    </div>
  }

  <!-- ✅ Ak JE prihlásený -->
  @if (isAuthenticated) {
    <div class="login-status">
      <!-- User Avatar (ak existuje) -->
      @if (userPicture) {
        <img [src]="userPicture" alt="User Avatar" class="user-avatar">
      }
      
      <!-- User Info -->
      <div class="user-info">
        @if (userName) {
          <span class="user-name">{{ userName }}</span>
        }
        @if (userEmail) {
          <span class="user-email">{{ userEmail }}</span>
        }
      </div>

      <!-- Member Button -->
  
      <button (click)="goToMembers()" routerLink="/members" class="security-btn">
        <i class="fas fa-user-shield"></i>
        Members
        </button>

      <!-- Logout Button -->
      <button class="security-btn btn-logout" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i> Logout
      </button>
    </div>

    <!-- Order Button -->
  
      <button *ngIf="isAuthenticated" (click)="goToOrders()"class="security-btn btn-orders">
        <i class="fas fa-clipboard-list"></i>
        Orders
        </button>
  
  }

</div>